/*
Youngseo Yi
10/10/23
CS20-Web Programming
HW4: Joe's Hot Dogs
Content: external style sheet for the website
*/

/*General formatting for whole page*/
body {
    margin: 0;
    font-family: Tahoma, "Trebuchet MS", sans-serif;
    box-sizing: border-box;
    font-size: calc(15px + 0.390625px);
    color: black;
    background-color: #297373;
}

/*Each item in the order*/
.item {
    display: block;
    width: 100%;
    margin: 20px;
}

.name, .quantity {
    display: inline-block;
    text-align: left;
}

.price {
    display: block;
    float: right;
    margin-right: 30px;
}

/*Discounts, Tax, and Total*/
.endline {
    display: block;
    margin-left: 20px;
}

.endlabel {
    display: inline-block;
    margin-bottom: 10px;
}

.endprice {
    display: block;
    float: right;
    margin-right: 10px;
}

/*Logo*/
img {
    margin: 20px;
    width: 100px;
}

/*Box containing all the order info*/
.receipt {
    display: block;
    margin: auto;
    border: 3px solid #1f1300;
    max-width: 300px;
    margin-bottom: 20px;
    background-color: white;
}

/*Label for the receipt*/
p {
    display: block;
    font-size: 50px;
    text-align: center;
    margin: auto;
    border: 3px solid #1f1300;
    max-width: 300px;
    background-color: #f79975;
    color: black;
}